@import "../node_modules/bootstrap/scss/bootstrap";

.bg-primary {
    background-color: #fb5830 !important;
}
.bg-line {
    background-color: #f97160 !important;
} 

.w-2px {
    width: 2px !important;
}
.w-50px {
    width: 50px !important;
}

.fs-7 {
    font-size: 1em * 0.8 !important;
}

