@import "../node_modules/bootstrap/scss/bootstrap";

.bg-primary {
    background-color: #fb5830 !important;
}
.bg-line {
    background-color: #f97160 !important;
} 

.w-2px {
    width: 2px !important;
}
.w-50px {
    width: 50px !important;
}

.h-80px {
    height: 80px !important;
}

.fs-7 {
    font-size: 1em * 0.8 !important;
}

.text-gray-700 {
    color: $gray-700 !important;
}

.transform-rotate-180 {
    rotate: 180deg;
}